@using Resources = ShawInterviewExercise.Web.Resources.Show.Index
@using LayoutResources = ShawInterviewExercise.Web.Resources.Shared._Layout
@model System.Collections.Generic.IEnumerable<Show>
@{
	this.ViewBag.ActiveMenu = ActiveMenu.Shows;
	this.ViewBag.Title = Resources.AllShows;
}
@section Breadcrumbs
{
	<li><a href="@HomeRouter.Index(this.Url)">@LayoutResources.Home</a></li>
	<li><a href="@ShowRouter.Index(this.Url)">@Resources.AllShows</a></li>
}

<h2>@Resources.AllShows</h2>
<div class="Filters">
	<div class="LargeFilters"></div>
	<div class="SmallFilters"></div>
</div>
<section id="showList" class="ShowList">
	@foreach (Show show in this.Model)
	{
		<article>
			<a href="@ShowRouter.Details(this.Url, show.Id, show.Slug)">
				@if (show.Filename != null)
				{
					<figure><img src="@ShowRouter.Image(this.Url, show.Filename)" alt="@show.Name" title="@show.Name" /></figure>
				}
				<h3>@show.Name</h3>
			</a>
		</article>
	}
</section>

@section Scripts
{
	<script type="text/javascript">
		sie.views.show.Index.showData = @this.Html.Raw(Json.Encode(this.Model));
		sie.views.show.Index.showListSelector = "#showList";
	</script>
}
