@using Resources = ShawInterviewExercise.Web.Resources.ShowAdmin.Index
@using LayoutResources = ShawInterviewExercise.Web.Resources.Shared._Layout
@model System.Collections.Generic.IEnumerable<Show>
@{
	this.ViewBag.ActiveMenu = ActiveMenu.Admin;
	this.ViewBag.Title = Resources.Admin;
}
@section Breadcrumbs
{
	<li><a href="@HomeRouter.Index(this.Url)">@LayoutResources.Home</a></li>
	<li><a href="@ShowAdminRouter.Index(this.Url)">@Resources.Admin</a></li>
}

<h2>@Resources.Admin</h2>
<ul class="ShowAdminList">
	@foreach (Show show in this.Model)
	{
		<li>
			<a class="Button ShowButton" href="@ShowAdminRouter.Update(this.Url, show.Id)">@show.Name</a>
			<a class="Button DeleteButton" href="@ShowAdminRouter.Delete(this.Url, show.Id)">@Resources.Delete</a>
		</li>
	}
</ul>
<div class="Controls"><a class="Button" href="@ShowAdminRouter.Create(this.Url)">@Resources.CreateNew</a></div>

@section Scripts
{
	<script type="text/javascript">
		$(".Button").button();
	</script>
}