@using Resources = ShawInterviewExercise.Web.Resources.Shared._Layout
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@(String.IsNullOrWhiteSpace(this.ViewBag.Title) ? Resources.Title : this.ViewBag.Title.ToString() + " | " + @Resources.Title)</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="Wrapper">
		<header>
			<a class="WrapperLogo" href="@HomeRouter.Index(this.Url)"><h1><img src="@Url.Content("~/Content/images/logo.png")" alt="@Resources.Title" title="@Resources.Title" /></h1></a>
			<nav class="WrapperTopMenu">
				<ul>
					<li><a class="@(this.ViewBag.ActiveMenu == ActiveMenu.Shows ? "Active" : "")" href="@ShowRouter.Index(this.Url)">@Resources.Shows</a></li>
					<li><a class="@(this.ViewBag.ActiveMenu == ActiveMenu.Admin ? "Active" : "")" href="@ShowAdminRouter.Index(this.Url)">@Resources.Admin</a></li>
				</ul>
				<div class="WrapperMenuButton"><a href="@HomeRouter.Sitemap(this.Url)">@Resources.Menu</a></div>
			</nav>
		</header>
		@if (this.IsSectionDefined("Breadcrumbs"))
		{
			<nav class="WrapperBreadcrumbs"><ul>@this.RenderSection("Breadcrumbs", false)</ul></nav>
		}
		<main>
			@this.RenderBody()
		</main>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/site")
	<script type="text/javascript">
		sie.net.ApiClient.apiUrl = @this.Html.Raw(Json.Encode(this.Url.Content(ApiRouter.ApiUrl)));
	</script>
	@this.RenderSection("Scripts", false)
</body>
</html>
